@import "tailwindcss";

@theme {
  --color-mycolor-50: #f7fafc;
  --color-mycolor-100: #edf2f7;
  --color-mycolor-200: #e2e8f0;
  --color-mycolor-300: #cbd5e0;
  --color-mycolor-400: #a0aec0;
  --color-mycolor-500: #718096;
  --color-mycolor-600: #4a5568;
  --color-mycolor-700: #2d3748;
  --color-mycolor-800: #1a202c;
  --color-mycolor-900: #171923;
}

.font-serif {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
